<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="card_d">
    <h1>Expense Tracker</h1>
    <h2>Dashboard</h2>

    <a class="btn" href="/add">➕ Add Transaction</a>
    <a class="btn" href="/monthly">📊 Monthly Report</a>
    <a class="btn" href="/transactions">📋 View Transactions</a>
    <a class="btn" href="/logout" style="background:#e53935">🚪 Logout</a>
</div>


</body>
</html>
